<table [hidden]="cart.items.length == 0">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Qty</th>
  </tr>
  <tr *ngFor="let item of cart.items">
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.qty}}</td>
  </tr>
  <tr>
    <td>Total Price</td>
    <td>{{cart.totalPrice}}</td>
    <td></td>
  </tr>
</table>
<hr/>
<div 
  *ngFor="let book of books;let i = index" 
  class="book"
  [hidden]="book.rating < 2"
  [class.highRated]="book.rating==5"
>
  <div class="title">{{book.title}}</div>
  <div class="author">{{book.author}}</div>
  <div>{{book.price}}</div>
  <div>{{book.rating}}</div>
  <div>
    <button (click)="rateUp(i)">&uarr;</button>
    <button (click)="rateDown(i)">&darr;</button>
    <button (click)="addToCart(i)">+</button>
  </div>
</div>