{{today | date:'dd = MM = yyyy'}}
<!-- <pre>{{books | json}}</pre> -->
<div 
  *ngFor="let book of books;let i = index" 
  class="book"
  [hidden]="book.rating < 2"
  [class.highRated]="book.rating==5"
>
  <a routerLink="/book/{{i}}" class="title">{{book.title | lowercase}}</a>
  <div class="author">{{book.author}}</div>
  <div>{{book.price | currency:'EUR':false:'2.1-3'}}</div>
  <div>{{book.rating | number:'3.1-3'}}</div>
  <div>
    <button (click)="rateUp(i)">&uarr;</button>
    <button (click)="rateDown(i)">&darr;</button>
    <button (click)="addToCart(i)">+</button>
  </div>
</div>
